.recipe-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1000px) {
    .recipe-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }